[submodule "frontend"]
	path = frontend
	branch = main
	url = https://github.com/arsydoni4326-alt/Cli-Proxy-API-Management-Center.git
[submodule "cpauk"]
	path = cpauk
	url = https://github.com/arsydoni4326-alt/cpa-usage-keeper.git
	branch = main
